// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// eouser navbar dropdown
.navbar {
    .container {
        .navbar-collapse{
            .navbar-nav{
                .user-dropdown{
                    #navbarDropdownUserEo {
                        text-transform: capitalize;
                    }
                    #navbarDropdownUserTenant{
                        text-transform: capitalize;
                    }
                    .dropdown-menu{
                        .dropdown-item{
                            color: #000;
                            &:hover {
                                color: #0000ff !important;
                            }
                        }
                    }
                }
            }
        }
    }
}